<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text="'Hello, ' + ${name} + '!'" />

<table >
<tr th:each="data, iterstat: ${list}">
    <td th:text="${data.address}" th:id="|td${iterstat.index}|"></td>
    <td th:text="${data.latitude}" th:id="|td${iterstat.index}|"></td>
    <td th:text="${data.longitude}" th:id="|td${iterstat.index}|"></td>

    </tr>
</table>



</body>
</html>